*, *::before, *::after {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	display: block;
}

html,
body {
	height: 100%;
}
/* =================================== */
/* font-family: 'DM Sans', sans-serif;
font-family: 'Manrope', sans-serif; */

body {
	line-height: 1;
	font-family: 'Manrope', sans-serif;
	color: #333333;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.title {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 1.375;
	color: #000000;
}

.title_center {
	text-align: center;
}

@media (max-width: 767.98px) {
	.title {
	font-size: 30px;
	}
}

.page {
	flex: 1 1 auto;
}

[class*="__container"] {
	max-width: 1170px;
	margin: 0 auto;
}

/* ---- Adaptive ---- */
@media (max-width: 1199.98px) {
	[class*="__container"] {
			max-width: 970px;
		}
}

@media (max-width: 990.98px) {
	[class*="__container"] {
		max-width: 750px;
	}
}

@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: none;
		padding: 0px 15px;
	}
}

/* ---Header--- */
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
}

.header__container {
	display: flex;
	justify-content: space-between;
	min-height: 100px;
	column-gap: 10px;
	row-gap: 15px;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

@media (max-width: 767.98px) {
	.header__container {
		min-height: 0;
		flex-direction: column;
	}
}

.header__logo {
	font-weight: 800;
	font-size: 23px;
	color: #31353B;
}

/* ============================== */
.menu__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 46px;
	row-gap: 15px;
}

.menu__link {
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	color: #000000;
}

.menu__link:hover {
	text-decoration: underline;
}

@media (max-width: 767.98px) {
	.menu__list {
		justify-content: center;
	}
	.menu__link {
		font-size: 18px;
	}
}


/* ---Main--- */
.main-block {
	padding-bottom: 110px;
}

.main-block__container {
	padding-top: 183px;
	position: relative;
}

.main-block__container::after {
	background: #BDCCFF;
	content: "";
	position: absolute;
	top: 0;
	left: 68%;
	width: 200%;
	height: 100%;
}

.main-block__body {
	margin-bottom: 14px;
}

.body-main-block {
	display: flex;
	align-items: flex-start;
}

.body-main-block__content {
	flex: 0 1 50%;
}

/* ---Main Text */
.content-main-block {
	position: relative;
	padding-top: 40px;
	z-index: 2;
}

.content-main-block__body {
	padding-right: 80px;
}

.content-main-block__title {
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 1.318;
	text-transform: uppercase;
	color: #FF9900;

	margin-bottom: 20px;
}

.content-main-block__subtitle {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 800;
	font-size: 54px;
	line-height: 1.351;
	color: #000000;

	margin-bottom: 20px;
}

.content-main-block__text {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 1.353;
	letter-spacing: 0.01em;
	color: #31353B;

	margin-bottom: 100px;
}

/* ---Form--- */
.form-main-block {
	position: relative;
	z-index: 2;
	display: flex;
	margin-right: -188px;
	background: #fff url('../img/icons/house.svg') 33px 32px no-repeat;
	box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
}

.form-main-block__input {
	height: 86px;
	width: 100%;
	flex: 1 1 auto;
	padding: 0px 0px 0px 74px;
	font-size: 20px;
	border: 1px solid #DADADA;
	background-color: transparent;
}

.form-main-block__input::placeholder {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.35;
	letter-spacing: 0.01em;
	color: #31353B;
	opacity: 0.3;
}

.form-main-block__button {
	width: 188px;
	height: 86px;
	flex: 0 0 188px;
	cursor: pointer;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: 17px;
	line-height: 1.353;
	letter-spacing: 0.01em;
	padding: 5px 15px;
	transition: all 0.3s ease 0s;
	color: #FFFFFF;
	background-color: #F85A47;
}

.form-main-block__button:hover {
	background-color: #bb4234;
}

/* ---Slider--- */
.body-main-block__slider {
	flex: 0 1 50%;
	min-width: 0;
}

.slider-main-block__slide {
	position: relative;
	padding-bottom: 95%;
}

.slider-main-block__slide img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}


/* ---Partners--- */
.partners-main-block {
	max-width: 65%;
}

.partners-main-block__label {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 1.353;
	letter-spacing: 0.01em;
	margin-bottom: 27px;
	color: #31353B;
}

.partners-main-block__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 25px;
	align-items: center;
}

.partners-main-block__item img {
	max-width: 100%;
}

@media (max-width: 1199.98px) {
	.main-block__container {
		padding-top: 100px;
		padding-bottom: 30px;
	}

	.content-main-block__body {
		padding-right: 0px;
	}

	.body-main-block {
		display: block;
	}

	.form-main-block {
		margin-right: 0;
	}

	.content-main-block__text {
		margin-bottom: 45px;
	}

	.body-main-block__content {
		margin-bottom: 40px;
	}

	.main-block__body {
		margin-bottom: 40px;
	}
	.partners-main-block {
		position: relative;
		z-index: 2;
		max-width: none;
	}
}

@media (max-width: 990.98px) {
	.main-block {
		padding-bottom: 70px;
	}
}

@media (max-width: 767.98px) {
	.partners-main-block {
		text-align: center;
	}

	.partners-main-block__items {
		justify-content: center;
	}

	.content-main-block__subtitle {
		font-size: 30px;
		line-height: 120%;
	}

	.form-main-block {
		display: block;
	}

	.form-main-block__button {
		width: 100%;
	}

	.main-block {
		padding-bottom: 30px;
	}
}

@media (max-width: 479.98px) {
	.form-main-block {
		background: #fff;
	}

	.form-main-block__input {
		padding: 0px 15px;
		font-size: 15px;
	}

	.form-main-block__input::placeholder {
		font-size: 15px;
	}
}

/* ------ How it works ------ */
.how {
	padding-top: 110px;
	padding-bottom: 110px;
}

@media (max-width: 990.98px) {
	.how {
		padding-top: 40px;
		padding-bottom: 70px;
	}
}

@media (max-width: 767.98px) {
	.how {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

.how__title {
	margin-bottom: 70px;
}

.how__items {
	display: grid;
	align-items: start;
	grid-template-columns: repeat(3, minmax(auto,260px));
	column-gap: 30px;
	row-gap: 45px;
	justify-content: space-between;
}

@media (min-width: 991px) {
	.how__items {padding: 0px 35px;}
}

.item-how {
	text-align: center;
	display: grid;
	justify-items: center;
	position: relative;
}

.item-how:not(:last-child)::after {
	content: "";
	position: absolute;
	right: 0;
	top: 41px;
	transform: translate(86%, 0px);
	width: 210px;
	height: 11px;
	background: url('../img/icons/line1.svg') 0 0 / 100% no-repeat;
}

.item-how_2:not(:last-child)::after {
	transform: translate(86%, 0px) rotate(-180deg);
}

.item-how__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90px;
	height: 90px;
	border-radius: 20px;
	margin-bottom: 50px;
}

.item-how_1 .item-how__icon {
	background: #9672FF;
	box-shadow: 0px 100px 80px rgba(150, 114, 255, 0.07), 0px 64.8148px 46.8519px rgba(150, 114, 255, 0.0531481), 0px 38.5185px 25.4815px rgba(150, 114, 255, 0.0425185), 0px 20px 13px rgba(150, 114, 255, 0.035), 0px 8.14815px 6.51852px rgba(150, 114, 255, 0.0274815), 0px 1.85185px 3.14815px rgba(150, 114, 255, 0.0168519);
}

.item-how_2 .item-how__icon {
	background: #4DDFFD;
	box-shadow: 0px 100px 80px rgba(77, 223, 253, 0.07), 0px 64.8148px 46.8519px rgba(77, 223, 253, 0.0531481), 0px 38.5185px 25.4815px rgba(77, 223, 253, 0.0425185), 0px 20px 13px rgba(77, 223, 253, 0.035), 0px 8.14815px 6.51852px rgba(77, 223, 253, 0.0274815), 0px 1.85185px 3.14815px rgba(77, 223, 253, 0.0168519);
}

.item-how_3 .item-how__icon {
	background: #F2B8EC;
	box-shadow: 0px 100px 80px rgba(242, 184, 236, 0.07), 0px 64.8148px 46.8519px rgba(242, 184, 236, 0.0531481), 0px 38.5185px 25.4815px rgba(242, 184, 236, 0.0425185), 0px 20px 13px rgba(242, 184, 236, 0.035), 0px 8.14815px 6.51852px rgba(242, 184, 236, 0.0274815), 0px 1.85185px 3.14815px rgba(242, 184, 236, 0.0168519);
}

.item-how__title {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 1.364;
	color: #000000;
	margin-bottom: 15px;
}

.item-how__text {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.625;
	color: #333333;
}

@media (max-width: 1199.98px) {
	.item-how:not(:last-child)::after {
		width: 170px;
		transform: translate(69%, 0px);
	}
	.item-how_2:not(:last-child)::after {
		transform: translate(69%, 0px) rotate(-180deg);
	}
}

@media (max-width: 990.98px) {
	.item-how:not(:last-child)::after {
		width: 130px;
		transform: translate(63%, 0px);
	}
	.item-how_2:not(:last-child)::after {
		transform: translate(63%, 0px) rotate(-180deg);
	}
}

@media (max-width: 767.98px) {
	.how__items {
		grid-template-columns: 1fr;
	}
	.item-how:not(:last-child)::after {
		display: none;
	}
	.item-how__icon {
		margin-bottom: 20px;
	}
	.how__title {
		margin-bottom: 30px;
	}
}

/* ------- Deals ------- */
.deals {
	padding-top: 100px;
	padding-bottom: 100px;
}
@media (max-width: 990.98px) {
	.deals {
		padding-top: 40px;
		padding-bottom: 70px;
	}
}

@media (max-width: 767.98px) {
	.deals {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

.deals__container {}

.deals__header {
	margin-bottom: 50px;
}

.deals__tabs {}


.header-deals {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	align-items: center;
}

.header-deals__content {
	flex: 1 1 auto;
}

.header-deals__title {}
.header-deals__title:not(:last-child) {
	margin-bottom: 15px;
}

.header-deals__text {
	max-width: 470px;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: #000000;
}

.header-deals__link {
	display: inline-block;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 1.353;
	text-align: center;
	padding: 22px 33px;
	color: #FFFFFF;
	background-color: #F85A47;
	transition: all 0.3s ease 0s;
	box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
	border-radius: 5px;
}
@media (max-width: 767.98px) {
	.header-deals__link {
		width: 100%;
	}
}

.header-deals__link:hover {
	background-color: #bb4234;
}



.tabs-deals {}

.tabs-deals__nav {
	display: flex;
	column-gap: 50px;
	row-gap: 10px;
	flex-wrap: wrap;
	margin-bottom: 35px;
}

.tabs-deals__button {
	position: relative;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 600;
	font-size: 19px;
	line-height: 1.368;
	cursor: pointer;
	color: #000000;
	background-color: transparent;
	transition: color 0.3s ease 0s;
}
.tabs-deals__button::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 1px;
	transition: width 0.3s ease 0s;
	background-color: #F85A47;
}
.tabs-deals__button:hover,
.tabs-deals__button.active,
.tabs-deals__button:focus {
	color: #F85A47;
}

.tabs-deals__button:hover::after,
.tabs-deals__button.active::after,
.tabs-deals__button:focus::after {
	width: 100%;
}

.tabs-deals__body {}

.tabs-deals__item {
	display: none;
}
.tabs-deals__item.active {
	display: block;
}


.item-tabs {}

.item-tabs__items {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.item-tabs__item {
	position: relative;
}

.item-tabs__options {
	position: absolute;
	z-index: 2;
	left: 14px;
	top: 14px;
	display: flex;
	flex-wrap: wrap;
	gap: 6px;
}

.item-tabs__option {
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid #FFFFFF;
	border-radius: 5px;
	padding: 6px 12px;

	font-weight: 400;
	font-size: 12px;
	line-height: 1.25;
	text-align: center;
	color: #FFFFFF;
	transition: background-color 0.3s ease 0s;
}
.item-tabs__option:hover,
.item-tabs__option:focus {
	background-color: rgba(0, 0, 0, 0.6);
}

.item-tabs__image {
	position: relative;
	display: block;
	padding-bottom: 81%;
	border-radius: 5px;
	overflow: hidden;
}
.item-tabs__image:hover img,
.item-tabs__image:focus img {
	transform: scale(1.1);
}
.item-tabs__image img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	transition: transform 0.3s ease 0s;
}